<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="Func">

	<resultMap id="RM.Func" type="com.bill99.creditAudit.model.Func">
        <result property="name" column="name"/>
        <result property="ret" column="ret"/>
        <result property="dl" column="dl"/>
        <result property="type" column="type"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Func.columns">
	    <![CDATA[
		name,ret,dl,type
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="Func.insert" useGeneratedKeys="true" keyProperty="name">
    <![CDATA[
        INSERT INTO func (
        	name ,
        	ret ,
        	dl ,
        	type 
        ) VALUES (
        	#{name} ,
        	#{ret} ,
        	#{dl} ,
        	#{type} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="Func.update" >
    <![CDATA[
        UPDATE func SET
	        ret = #{ret} ,
	        dl = #{dl} ,
	        type = #{type} 
        WHERE 
	        name = #{name} 
    ]]>
	</update>

    <delete id="Func.delete">
    <![CDATA[
        DELETE FROM func WHERE
        name = #{id} 
    ]]>
    </delete>
    
    <select id="Func.getById" resultMap="RM.Func">
		SELECT <include refid="Func.columns" />
	    <![CDATA[
		    FROM func 
	        WHERE 
		        name = #{id} 
	    ]]>
	</select>
	
	<sql id="Func.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(name)">
				AND name = #{name}
			</if>
	       <if test="@Ognl@isNotEmpty(ret)">
				AND ret = #{ret}
			</if>
	       <if test="@Ognl@isNotEmpty(dl)">
				AND dl = #{dl}
			</if>
	       <if test="@Ognl@isNotEmpty(type)">
				AND type = #{type}
			</if>
		</where>
	</sql>
		
    <select id="Func.findPage.count" resultType="long">
        SELECT count(*) FROM func 
		<include refid="Func.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="Func.findPage" resultMap="RM.Func">
    	SELECT <include refid="Func.columns" />
	    FROM func 
		<include refid="Func.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

