<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="User">

	<resultMap id="RM.User" type="com.bill99.creditAudit.model.User">
        <result property="host" column="Host"/>
        <result property="user" column="User"/>
        <result property="password" column="password"/>
        <result property="selectPriv" column="Select_priv"/>
        <result property="insertPriv" column="Insert_priv"/>
        <result property="updatePriv" column="Update_priv"/>
        <result property="deletePriv" column="Delete_priv"/>
        <result property="createPriv" column="Create_priv"/>
        <result property="dropPriv" column="Drop_priv"/>
        <result property="reloadPriv" column="Reload_priv"/>
        <result property="shutdownPriv" column="Shutdown_priv"/>
        <result property="processPriv" column="Process_priv"/>
        <result property="filePriv" column="File_priv"/>
        <result property="grantPriv" column="Grant_priv"/>
        <result property="referencesPriv" column="References_priv"/>
        <result property="indexPriv" column="Index_priv"/>
        <result property="alterPriv" column="Alter_priv"/>
        <result property="showDbPriv" column="Show_db_priv"/>
        <result property="superPriv" column="Super_priv"/>
        <result property="createTmpTablePriv" column="Create_tmp_table_priv"/>
        <result property="lockTablesPriv" column="Lock_tables_priv"/>
        <result property="executePriv" column="Execute_priv"/>
        <result property="replSlavePriv" column="Repl_slave_priv"/>
        <result property="replClientPriv" column="Repl_client_priv"/>
        <result property="sslType" column="ssl_type"/>
        <result property="sslCipher" column="ssl_cipher"/>
        <result property="x509Issuer" column="x509_issuer"/>
        <result property="x509Subject" column="x509_subject"/>
        <result property="maxQuestions" column="max_questions"/>
        <result property="maxUpdates" column="max_updates"/>
        <result property="maxConnections" column="max_connections"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="User.columns">
	    <![CDATA[
		Host,User,password,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,Shutdown_priv,Process_priv,File_priv,Grant_priv,References_priv,Index_priv,Alter_priv,Show_db_priv,Super_priv,Create_tmp_table_priv,Lock_tables_priv,Execute_priv,Repl_slave_priv,Repl_client_priv,ssl_type,ssl_cipher,x509_issuer,x509_subject,max_questions,max_updates,max_connections
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="User.insert" useGeneratedKeys="true" keyProperty="host">
    <![CDATA[
        INSERT INTO user (
        	Host ,
        	User ,
        	password ,
        	Select_priv ,
        	Insert_priv ,
        	Update_priv ,
        	Delete_priv ,
        	Create_priv ,
        	Drop_priv ,
        	Reload_priv ,
        	Shutdown_priv ,
        	Process_priv ,
        	File_priv ,
        	Grant_priv ,
        	References_priv ,
        	Index_priv ,
        	Alter_priv ,
        	Show_db_priv ,
        	Super_priv ,
        	Create_tmp_table_priv ,
        	Lock_tables_priv ,
        	Execute_priv ,
        	Repl_slave_priv ,
        	Repl_client_priv ,
        	ssl_type ,
        	ssl_cipher ,
        	x509_issuer ,
        	x509_subject ,
        	max_questions ,
        	max_updates ,
        	max_connections 
        ) VALUES (
        	#{host} ,
        	#{user} ,
        	#{password} ,
        	#{selectPriv} ,
        	#{insertPriv} ,
        	#{updatePriv} ,
        	#{deletePriv} ,
        	#{createPriv} ,
        	#{dropPriv} ,
        	#{reloadPriv} ,
        	#{shutdownPriv} ,
        	#{processPriv} ,
        	#{filePriv} ,
        	#{grantPriv} ,
        	#{referencesPriv} ,
        	#{indexPriv} ,
        	#{alterPriv} ,
        	#{showDbPriv} ,
        	#{superPriv} ,
        	#{createTmpTablePriv} ,
        	#{lockTablesPriv} ,
        	#{executePriv} ,
        	#{replSlavePriv} ,
        	#{replClientPriv} ,
        	#{sslType} ,
        	#{sslCipher} ,
        	#{x509Issuer} ,
        	#{x509Subject} ,
        	#{maxQuestions} ,
        	#{maxUpdates} ,
        	#{maxConnections} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="User.update" >
    <![CDATA[
        UPDATE user SET
	        password = #{password} ,
	        Select_priv = #{selectPriv} ,
	        Insert_priv = #{insertPriv} ,
	        Update_priv = #{updatePriv} ,
	        Delete_priv = #{deletePriv} ,
	        Create_priv = #{createPriv} ,
	        Drop_priv = #{dropPriv} ,
	        Reload_priv = #{reloadPriv} ,
	        Shutdown_priv = #{shutdownPriv} ,
	        Process_priv = #{processPriv} ,
	        File_priv = #{filePriv} ,
	        Grant_priv = #{grantPriv} ,
	        References_priv = #{referencesPriv} ,
	        Index_priv = #{indexPriv} ,
	        Alter_priv = #{alterPriv} ,
	        Show_db_priv = #{showDbPriv} ,
	        Super_priv = #{superPriv} ,
	        Create_tmp_table_priv = #{createTmpTablePriv} ,
	        Lock_tables_priv = #{lockTablesPriv} ,
	        Execute_priv = #{executePriv} ,
	        Repl_slave_priv = #{replSlavePriv} ,
	        Repl_client_priv = #{replClientPriv} ,
	        ssl_type = #{sslType} ,
	        ssl_cipher = #{sslCipher} ,
	        x509_issuer = #{x509Issuer} ,
	        x509_subject = #{x509Subject} ,
	        max_questions = #{maxQuestions} ,
	        max_updates = #{maxUpdates} ,
	        max_connections = #{maxConnections} 
        WHERE 
	        Host = #{host} ,
	        User = #{user} 
    ]]>
	</update>

    <delete id="User.delete">
    <![CDATA[
        DELETE FROM user WHERE
        Host = #{id} ,
        User = #{id} 
    ]]>
    </delete>
    
    <select id="User.getById" resultMap="RM.User">
		SELECT <include refid="User.columns" />
	    <![CDATA[
		    FROM user 
	        WHERE 
		        Host = #{id} ,
		        User = #{id} 
	    ]]>
	</select>
	
	<sql id="User.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(host)">
				AND Host = #{host}
			</if>
	       <if test="@Ognl@isNotEmpty(user)">
				AND User = #{user}
			</if>
	       <if test="@Ognl@isNotEmpty(password)">
				AND password = #{password}
			</if>
	       <if test="@Ognl@isNotEmpty(selectPriv)">
				AND Select_priv = #{selectPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(insertPriv)">
				AND Insert_priv = #{insertPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(updatePriv)">
				AND Update_priv = #{updatePriv}
			</if>
	       <if test="@Ognl@isNotEmpty(deletePriv)">
				AND Delete_priv = #{deletePriv}
			</if>
	       <if test="@Ognl@isNotEmpty(createPriv)">
				AND Create_priv = #{createPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(dropPriv)">
				AND Drop_priv = #{dropPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(reloadPriv)">
				AND Reload_priv = #{reloadPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(shutdownPriv)">
				AND Shutdown_priv = #{shutdownPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(processPriv)">
				AND Process_priv = #{processPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(filePriv)">
				AND File_priv = #{filePriv}
			</if>
	       <if test="@Ognl@isNotEmpty(grantPriv)">
				AND Grant_priv = #{grantPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(referencesPriv)">
				AND References_priv = #{referencesPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(indexPriv)">
				AND Index_priv = #{indexPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(alterPriv)">
				AND Alter_priv = #{alterPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(showDbPriv)">
				AND Show_db_priv = #{showDbPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(superPriv)">
				AND Super_priv = #{superPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(createTmpTablePriv)">
				AND Create_tmp_table_priv = #{createTmpTablePriv}
			</if>
	       <if test="@Ognl@isNotEmpty(lockTablesPriv)">
				AND Lock_tables_priv = #{lockTablesPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(executePriv)">
				AND Execute_priv = #{executePriv}
			</if>
	       <if test="@Ognl@isNotEmpty(replSlavePriv)">
				AND Repl_slave_priv = #{replSlavePriv}
			</if>
	       <if test="@Ognl@isNotEmpty(replClientPriv)">
				AND Repl_client_priv = #{replClientPriv}
			</if>
	       <if test="@Ognl@isNotEmpty(sslType)">
				AND ssl_type = #{sslType}
			</if>
	       <if test="@Ognl@isNotEmpty(sslCipher)">
				AND ssl_cipher = #{sslCipher}
			</if>
	       <if test="@Ognl@isNotEmpty(x509Issuer)">
				AND x509_issuer = #{x509Issuer}
			</if>
	       <if test="@Ognl@isNotEmpty(x509Subject)">
				AND x509_subject = #{x509Subject}
			</if>
	       <if test="@Ognl@isNotEmpty(maxQuestions)">
				AND max_questions = #{maxQuestions}
			</if>
	       <if test="@Ognl@isNotEmpty(maxUpdates)">
				AND max_updates = #{maxUpdates}
			</if>
	       <if test="@Ognl@isNotEmpty(maxConnections)">
				AND max_connections = #{maxConnections}
			</if>
		</where>
	</sql>
		
    <select id="User.findPage.count" resultType="long">
        SELECT count(*) FROM user 
		<include refid="User.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="User.findPage" resultMap="RM.User">
    	SELECT <include refid="User.columns" />
	    FROM user 
		<include refid="User.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

